@charset "UTF-8";
body, ul, li, p, dl, dt, dd, h1, h2, h4, h5, h6, input, img {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

html body {
  height: 100%;
}

/*头部*/
.A {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #333333;
}
.A .header {
  width: 1240px;
  margin: auto;
  text-align: center;
  line-height: 46px;
  background: #333333;
}
.A .header img {
  float: left;
}
.A .header .search {
  position: relative;
  float: left;
  width: 360px;
  height: 36px;
  padding: 1px 0 1px 20px;
  background-color: #fff;
  font-size: 16px;
  margin: 4px 16px 0;
}
.A .header .search i {
  width: 13px;
  height: 13px;
  float: left;
  background: url(../images/nuandao.png) no-repeat -260px -280px;
  position: absolute;
  left: 10px;
  top: 12px;
}
.A .header .search input {
  font-size: 16px;
  width: 347px;
  line-height: 34px;
  float: right;
  outline: none;
  border: none;
}

.header span {
  float: left;
  font-size: 13px;
  color: #e396ff;
}

.header-right {
  float: left;
}

.header-right li {
  float: left;
}

.header-right li img {
  margin: 15px 7px  0 183px;
}

.header-right li a span {
  /*display: block;*/
  font-size: 13px;
  color: #eeeeee;
  cursor: pointer;
}

.header-right li a strong {
  background-color: #3ec0a3;
  width: 22px;
  text-align: center;
  line-height: 20px;
  font-weight: normal;
  float: right;
  display: block;
  margin-top: 14px;
  margin-left: 8px;
  color: #eeeeee;
}

.header-right .second {
  width: 54px;
  height: 20px;
  font-size: 13px;
  color: #eeeeee;
}

.header-right .third a {
  display: block;
  width: 82px;
  height: 22px;
  margin-top: 14px;
  line-height: 20px;
  font-size: 13px;
  color: #eeeeee;
  border: 1px solid #ffffff;
}

/*导航*/
.B {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
}
.B .nav {
  width: 1240px;
  margin: auto;
}
.B .nav .tab {
  float: left;
  width: 640px;
}

.nav-right {
  float: left;
  margin-left: 320px;
  position: relative;
}

.nav-right li {
  float: left;
  line-height: 36px;
}
.nav-right li .i-one {
  display: block;
  width: 140px;
  margin-left: 20px;
}
.nav-right li .i-one i {
  background: url(../images/nuandao.png) no-repeat -200px -280px;
  width: 16px;
  height: 16px;
}
.nav-right li .i-two {
  display: block;
  width: 80px;
}
.nav-right li .i-two i {
  background: url(../images/nuandao.png) no-repeat -160px -280px;
  width: 16px;
  height: 16px;
}
.nav-right li .i-three {
  display: block;
  width: 40px;
}
.nav-right li .i-three i {
  background: url(../images/nuandao.png) no-repeat -220px -280px;
  width: 25px;
  height: 20px;
}

.nav-right li a span {
  float: left;
  font-size: 13px;
  color: #303030;
  padding-left: 20px;
}

.nav-right li a i {
  float: left;
  position: absolute;
  top: 10px;
}

.tab {
  width: 640px;
}

.tab .menu {
  overflow: hidden;
}

.tab .menu li {
  box-sizing: border-box;
  font-size: 14px;
  float: left;
  width: 80px;
  line-height: 37px;
  text-align: center;
  cursor: pointer;
}

.tab .menu .active {
  border-bottom: 2px solid #ac0;
  font-weight: bold;
  color: #3EC0A3;
}

.tab .navitem {
  display: none;
}

.navitem {
  z-index: 1;
  position: absolute;
  width: 100%;
  overflow: hidden;
  background: #FFFFFF;
  left: 0;
  top: 84px;
  margin-left: 0;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
}

.navitem .content {
  width: 1240px;
  height: 350px;
  margin: 0 auto;
}

.navitem .content .list-left {
  width: 420px;
  height: 350px;
  border-right: 1px solid #ededed;
  float: left;
}

.navitem .content .list-left h3 {
  display: block;
  font-size: 14px;
  color: #a3a3a3;
  line-height: 80px;
  font-weight: bold;
}

.navitem .content .list-left .one {
  float: left;
  width: 120px;
  margin-right: 20px;
  margin-bottom: 10px;
  line-height: 30px;
}

.navitem .content .list-left .one li {
  float: none;
}

.navitem .content .list-left .one li a {
  color: #303030;
  font-size: 14px;
}

.navitem .content .list-right {
  width: 819px;
  height: 350px;
  float: left;
}

.navitem .content .list-right h3 {
  display: block;
  font-size: 14px;
  color: #a3a3a3;
  margin-left: 90px;
  line-height: 80px;
  font-weight: bold;
}

.navitem .content .list-right .two {
  float: left;
  width: 120px;
  margin-right: 20px;
  margin-left: 90px;
  margin-bottom: 10px;
  line-height: 30px;
}

.navitem .content .list-right .two li {
  float: none;
}

.navitem .content .list-right .two li a {
  color: #303030;
  font-size: 14px;
}

.navitem .content .list-right .three {
  float: left;
  width: 300px;
  padding-top: 10px;
}

.navitem .content .list-right .three li {
  float: left;
  margin-right: 6px;
}

.navitem .content .list-right .three li a {
  width: 94px;
}

.navitem .content .list-right .three li a img {
  width: 94px;
  height: 94px;
}

.tab .navitem.active {
  display: block;
}

/*轮播图*/
.C {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.C .banner {
  position: relative;
  width: 100%;
  height: 365px;
  margin: 0 auto;
}
.C .banner .banner-list {
  position: relative;
  width: 5520px;
}
.C .banner .banner-list li {
  float: left;
}
.C .banner .banner-list li img {
  width: 1380px;
}
.C .banner .btn {
  display: none;
}
.C .banner .btn a {
  position: absolute;
  top: 40%;
  width: 38px;
  height: 50px;
  z-index: 3;
  font-size: 40px;
  color: #FFFFFF;
  background-color: rgba(250, 250, 250, 0.7);
}
.C .banner .btn .prev {
  left: 0;
}
.C .banner .btn .next {
  right: 0;
}
.C .banner .dots {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  width: 500px;
}
.C .banner .dots a {
  display: inline-block;
  width: 110px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 16px;
  color: #929393;
  margin: 0 4px 0 7px;
  line-height: 58px;
}

/*全球设计*/
.D {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #333333;
}
.D .global {
  width: 1240px;
  margin: 0 auto;
  line-height: 60px;
}
.D .global img {
  margin: 10px 128px;
}

/*每日上新*/
.E {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.E .today {
  width: 1240px;
  margin: 0 auto;
  background: #FFFFFF;
}
.E .today h1 {
  font-size: 30px;
  color: #303030;
}
.E .today ul li {
  float: left;
  position: relative;
}
.E .today ul li .dis {
  margin-top: 20px;
  margin-bottom: 20px;
}
.E .today ul li .dis a {
  color: #303030;
  overflow: hidden;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  height: 25px;
}
.E .today ul li a img {
  width: 295px;
  height: 295px;
}
.E .today ul li a .pro {
  position: absolute;
  display: none;
  left: 0;
  bottom: 20px;
  color: #303030;
  font-size: 13px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
  z-index: 1;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.E .today ul .today-one {
  left: 0;
  margin-right: 10px;
}
.E .today ul .today-two {
  margin-right: 10px;
  margin-left: 10px;
}
.E .today ul .today-three {
  margin-right: 10px;
  margin-left: 10px;
}
.E .today ul .today-four {
  margin-left: 10px;
}

/*学霸的背包*/
.F {
  width: 100%;
  height: 100px;
}
.F .menu {
  width: 1240px;
  background: pink;
  margin: 0 auto;
}
.F .menu .menu-left {
  display: block;
  float: left;
  width: 610px;
  height: 200px;
  margin-right: 10px;
  background: url(../images/a.jpg);
}
.F .menu .menu-right {
  display: block;
  float: left;
  width: 610px;
  height: 200px;
  margin-left: 10px;
  background: url(../images/b.jpg);
}

/*本周特卖*/
.G {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.G .week {
  margin: 0 auto;
  width: 1240px;
}
.G .week h1 {
  font-size: 30px;
  color: #303030;
}
.G .week ul li {
  float: left;
  position: relative;
}
.G .week ul li .dis {
  margin-top: 20px;
  margin-bottom: 20px;
}
.G .week ul li .dis a {
  color: #303030;
  overflow: hidden;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  height: 25px;
}
.G .week ul li a img {
  width: 295px;
  height: 295px;
}
.G .week ul li a .pro {
  position: absolute;
  left: 0;
  top: -95px;
  bottom: 20px;
  color: #303030;
  font-size: 13px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
  z-index: 1;
  width: 100%;
  height: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.G .week ul .today-one {
  left: 0;
  margin-right: 10px;
}
.G .week ul .today-two {
  margin-right: 10px;
  margin-left: 10px;
}
.G .week ul .today-three {
  margin-right: 10px;
  margin-left: 10px;
}
.G .week ul .today-four {
  margin-left: 10px;
}

/*底部清单*/
.H {
  width: 100%;
  height: 100%;
  background: #303030;
  overflow: hidden;
}
.H .footer {
  width: 1240px;
  margin: 0 auto;
}
.H .footer .footer-left {
  float: left;
  width: 820px;
  background: #303030;
}
.H .footer .footer-left ul {
  float: left;
  width: 80px;
  margin-right: 80px;
  margin-bottom: 30px;
}
.H .footer .footer-left ul h4 {
  line-height: 28px;
  margin-top: 24px;
  font-size: 15px;
  color: #dfdfdf;
}
.H .footer .footer-left ul li {
  line-height: 40px;
}
.H .footer .footer-left ul li a {
  font-size: 13px;
  color: #5a6666;
}
.H .footer .footer-right {
  float: left;
  width: 420px;
  height: 246px;
}
.H .footer .footer-right h4 {
  line-height: 28px;
  margin-top: 24px;
  font-size: 15px;
  color: #dfdfdf;
}
.H .footer .footer-right .email {
  position: relative;
  width: 302px;
  height: 52px;
  margin-top: 14px;
}
.H .footer .footer-right .email .search-f {
  width: 248px;
  height: 52px;
  border: none;
  float: left;
  text-indent: 16px;
  outline: none;
  background: #434343;
}
.H .footer .footer-right .email a {
  display: block;
  width: 54px;
  height: 52px;
  float: left;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background: #4b4b4b;
  position: absolute;
  right: 0;
  top: 0;
}
.H .footer .footer-right .email a i {
  position: absolute;
  right: 22%;
  top: 30%;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  width: 32px;
  height: 22px;
  background: url(../images/nuandao.png) no-repeat -200px 0;
}
.H .footer .footer-right .sns {
  width: 320px;
  height: 55px;
  margin-top: 40px;
}
.H .footer .footer-right .sns ul li {
  float: left;
  margin-left: 24px;
}
.H .footer .footer-right .sns ul li a {
  display: block;
  width: 40px;
  height: 40px;
  background: yellow;
}
.H .footer .footer-right .sns ul li .weibo {
  background: url(../images/nuandao.png) no-repeat 0 0;
  background-position: 0 0;
}
.H .footer .footer-right .sns ul li .weixin {
  background: url(../images/nuandao.png) no-repeat 0 0;
  background-position: 0 -167px;
}
.H .footer .footer-right .sns ul li .six {
  background: url(../images/nuandao.png) no-repeat 0 0;
  background-position: -46px -167px;
}
.H .footer .footer-right .sns ul li .beauty {
  background: url(../images/nuandao.png) no-repeat 0 0;
  background-position: -40px 0;
}
.H .footer .footer-right .sns ul li .douban {
  background: url(../images/nuandao.png) no-repeat 0 0;
  background-position: -160px 0;
}

/*底部*/
.I {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.I .foot-b {
  width: 1240px;
  margin: 0 auto;
}
.I .foot-b .foot-bb {
  width: 1040px;
  height: 100px;
  float: left;
}
.I .foot-b .foot-bb ul {
  height: 18px;
  margin-top: 16px;
}
.I .foot-b .foot-bb ul li {
  float: left;
}
.I .foot-b .foot-bb ul li a {
  color: #303030;
  font-size: 13px;
}
.I .foot-b .foot-bb ul .hot:before {
  content: "|";
  padding-left: 14px;
  margin-right: 18px;
  font-size: 14px;
}
.I .foot-b .foot-bb ul .friend:before {
  content: "|";
  padding-left: 14px;
  font-size: 13px;
  margin-right: 18px;
}
.I .foot-b .foot-bb .foot-bb2 {
  font-size: 12px;
  margin-top: 10px;
}
.I .foot-b .foot-bb .foot-bb2 a {
  color: #303030;
}
.I .foot-b .foot-cc {
  width: 200px;
  height: 100px;
  float: left;
}
.I .foot-b .foot-cc a {
  display: block;
  float: left;
  width: 96px;
  height: 42px;
  margin-left: 20px;
  background: url(../images/315icon.gif);
}
.I .foot-b .foot-cc .tel {
  float: right;
}
.I .foot-b .foot-cc .tel p {
  font-size: 12px;
  color: #303030;
}
.I .foot-b .foot-cc .tel .tell {
  text-indent: -20px;
}
