@charset "UTF-8";
.O{
    width: 100%;
    height: 100%;
    overflow: hidden;
    .order{
        width: 988px;
        height: 1000px;
        margin: 0 auto;
        .order-left{
            position: relative;
            width: 150px;
            margin-left: 50px;
            float: left;
            .person{
                position: absolute;
                left: auto;
                top: -52px;
            }
            dl{
                width: 120px;
                border-bottom: 1px solid #dfdfdf;
                padding-bottom: 40px;
                margin-bottom: 40px;
                font-size: 15px;
                margin-top: 90px;
                dt{
                    margin-bottom: 20px;
                }
                dd{
                    padding-left: 2em;
                    margin-top: 10px;
                    a{
                        color: #666;
                    }
                }
            }
       
        }
        .order-right{
            float: left;
            width: 737px;
            min-height: 720px;
            padding-left: 50px;
            padding-bottom: 87px;
            font-size: 13px;
            border-left: 1px solid #dfdfdf;
            h3{
                color: #515050;
                font-size: 14px;
                margin-top: 30px;
                margin-bottom: 40px;
                line-height: 18px;
                border-left: 4px solid #3ec0a3;
                padding-left: 8px;
            }
            p{
                margin-bottom: 60px;
                line-height: 1.8;
                color: #515050;
            }
            .no{
                font-size: 18px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 10px 15px;
                a{
                    display: inline-block;
                    background-color: #3ec0a3;
                    font-size: 16px;
                    line-height: 44px;
                    padding-left: 42px;
                    padding-right: 42px;
                    color: #FFFFFF;
                }
            }
        }
    }
}
